Repository valentinsld/escape-lab-front: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, yarn lint:fix, yarn lint:css:fix

.lintstagedrc.json:

{
  "package.json": "sort-package-json",
  "*.{js,vue}": "yarn lint:fix",
  "*.{css,scss}": "yarn lint:css:fix"
}

fix(package.json): fix template compiler bug
  package.json
  yarn.lock
Due: sort-package-json

fix(package.json): add missing start script to heroku deploy
  package.json
Due: sort-package-json

feat(procfile): add profile for heroku deploy
  Procfile
Due: none

feat(express): add express server
  Procfile
  README.md
  package.json
  server.js
  yarn.lock
Due: sort-package-json, yarn lint:fix

docs(readme): update readme
  README.md
Due: none

feat(vuex): setup vuex store and example in sample component
  src/components/Sample.vue
  src/main.js
  src/store/helpers.js
  src/store/index.js
Due: yarn lint:fix

feat(main): init socket io
  package.json
  src/main.js
  yarn.lock
Due: sort-package-json, yarn lint:fix

feat(app): remove sample component
  src/App.vue
Due: yarn lint:fix

feat(app): connexion
  src/App.vue
  src/components/Connection/ConnectionMainScreen.vue
  src/components/Connection/ConnectionPlayer.vue
  src/components/Sample.vue
  src/store/helpers.js
  src/store/index.js
  src/views/ViewConnection.vue
Due: yarn lint:fix

feat: add if user is disconnected and reconnect
  src/App.vue
  src/components/Connection/UserDisconnected.vue
  src/store/helpers.js
  src/store/index.js
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(game): add intro
  src/App.vue
  src/components/Connection/ConnectionMainScreen.vue
  src/components/Connection/ConnectionPlayer.vue
  src/components/Game/Enigme1/Enigme1MainScreen.vue
  src/components/Game/Intro/IntroMainScreen.vue
  src/components/Game/Intro/IntroPlayer.vue
  src/store/helpers.js
  src/store/index.js
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(enigmes): init components
  src/components/Game/Enigme1/Enigme1Player1.vue
  src/components/Game/Enigme1/Enigme1Player2.vue
  src/components/Game/Enigme2/Enigme2MainScreen.vue
  src/components/Game/Enigme2/Enigme2Player.vue
  src/components/Game/Enigme3/Enigme3MainScreen.vue
  src/components/Game/Enigme3/Enigme3Player1.vue
  src/components/Game/Enigme3/Enigme3Player2.vue
  src/components/Game/Outro/OutroMainScreen.vue
  src/components/Game/Outro/OutroPlayer.vue
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(enigme-3): setup structure
  src/App.vue
  src/components/enigmes/enigme-3/Enigme3.vue
  src/data/enigme3.js
  src/views/ViewConnection.vue
  src/views/ViewContainer.vue
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(package): add Tweakpane
  package.json
  yarn.lock
Due: sort-package-json

feat(ViewGame): add tweakpane + subscribe to setStepGame
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(Enigme3): change name
  src/components/Game/Enigme3/Enigme3MainScreen.vue
  src/components/Game/Enigme3/Enigme3Player1.vue
  src/components/Game/Enigme3/Enigme3Player2.vue
Due: yarn lint:fix

feat(ViewGame): is process developement for DEBUG
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(main): is process developement for localhost url
  src/main.js
Due: yarn lint:fix

feat(enigme-3): add rules pick + start chat component
  src/components/enigmes/enigme-3/Chat.vue
  src/components/enigmes/enigme-3/Enigme3.vue
  src/data/enigme3.js
  src/scss/setup/_css-variables.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(ViewGame): debug only on MainScreen
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(enigme-3): generate questions
  src/components/enigmes/enigme-3/Enigme3.vue
  src/data/enigme3.js
Due: yarn lint:fix

fix(App): add stepGame on user Reconnected
  src/App.vue
Due: yarn lint:fix

feat(enigme-3): add chat message push on choice click
  src/components/enigmes/enigme-3/Chat.vue
  src/components/enigmes/enigme-3/Enigme3.vue
Due: yarn lint:fix

feat(enigme-3): stock non selected choice
  src/components/enigmes/enigme-3/Chat.vue
  src/data/enigme3.js
Due: yarn lint:fix

feat(enigme-3): add choices and messages timeline
  src/components/enigmes/enigme-3/Chat.vue
Due: yarn lint:fix

feat(intro): link messages & video to back-end
  src/components/Game/Intro/IntroMainScreen.vue
  src/components/Game/Intro/IntroPlayer.vue
Due: yarn lint:fix

Revert "feat(intro): link messages & video to back-end"
  src/components/Game/Intro/IntroMainScreen.vue
  src/components/Game/Intro/IntroPlayer.vue
Due: yarn lint:fix

feat(enigme-3): add responses messages animation
  src/components/enigmes/enigme-3/Chat.vue
Due: yarn lint:fix

feat(enigme-3): refactor chat to dissociate messages component
  src/components/block/Messages.vue
  src/components/enigmes/enigme-3/Chat.vue
Due: yarn lint:fix

refactor(app+views): refactor mapState
  src/App.vue
  src/components/Connection/ConnectionMainScreen.vue
  src/components/Connection/ConnectionPlayer.vue
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(enigme-3): finish messages component loop of messages
  src/components/block/Messages.vue
  src/components/enigmes/enigme-3/Chat.vue
Due: yarn lint:fix

feat(ConnectionMainScreen): mainScreen can join room
  src/components/Connection/ConnectionMainScreen.vue
Due: yarn lint:fix

feat(enigme-3): add delay and duration parameters for message component
  src/components/block/Messages.vue
Due: yarn lint:fix

fix(ViewGame): fix unmounted game
  src/views/ViewGame.vue
Due: yarn lint:fix

refactor(enigme-3): update chat component to fit new messages component
  src/components/block/Messages.vue
  src/components/enigmes/enigme-3/Chat.vue
Due: yarn lint:fix

chore(package): add qrcode.vue 1.7.0
  package.json
  yarn.lock
Due: sort-package-json

feat(Connection): add qrCode to MainScreen & params on url for Player
  src/components/Connection/ConnectionMainScreen.vue
  src/components/Connection/ConnectionPlayer.vue
Due: yarn lint:fix

feat(enigme-3): functionnal check rules on answers
  src/components/enigmes/enigme-3/Chat.vue
  src/components/enigmes/enigme-3/Enigme3.vue
Due: yarn lint:fix

feat(enigme2): add popup across multiple screens handling
  src/components/Game/Enigme2/Enigme2MainScreen.vue
  src/components/Game/Enigme2/Enigme2Player.vue
  src/views/ViewGame.vue
Due: yarn lint:fix
