Repository valentinsld/escape-lab-front: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, yarn lint:fix, yarn lint:css:fix

feat(Enigme3MainScreen): fit consigne on screen
  src/components/Game/Enigme3/tuto/Enigme3MainScreenTuto.vue
Due: yarn lint:fix

feat(ResultCard): review sizes on mobile
  src/components/block/ResultCard.vue
Due: yarn lint:fix

fix(ViewResults): remove height
  src/views/ViewResults.vue
Due: yarn lint:fix

style(VideoMainScreen): remove TODO
  src/components/Game/VideoMainScreen.vue
Due: yarn lint:fix

feat(pwa): add config & support for pwa
  package-lock.json
  package.json
  public/img/icons.zip
  public/img/icons/android-chrome-192x192.png
  public/img/icons/android-chrome-512x512.png
  public/img/icons/android-chrome-maskable-192x192.png
  public/img/icons/android-chrome-maskable-512x512.png
  public/img/icons/apple-touch-icon-120x120.png
  public/img/icons/apple-touch-icon-152x152.png
  public/img/icons/apple-touch-icon-180x180.png
  public/img/icons/apple-touch-icon-60x60.png
  public/img/icons/apple-touch-icon-76x76.png
  public/img/icons/apple-touch-icon.png
  public/img/icons/favicon-16x16.png
  public/img/icons/favicon-32x32.png
  public/img/icons/msapplication-icon-144x144.png
  public/img/icons/mstile-150x150.png
  public/img/icons/safari-pinned-tab.svg
  public/robots.txt
  src/main.js
  src/registerServiceWorker.js
  vue.config.js
  yarn.lock
Due: sort-package-json, yarn lint:fix

feat(pwa): add icons & plugin for pwa
  public/android-chrome-192x192.png
  public/android-chrome-384x384.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/img/icons.zip
  public/img/icons/android-chrome-512x512.png
  public/img/icons/android-chrome-maskable-192x192.png
  public/img/icons/android-chrome-maskable-512x512.png
  public/img/icons/apple-touch-icon-120x120.png
  public/img/icons/apple-touch-icon-152x152.png
  public/img/icons/apple-touch-icon-180x180.png
  public/img/icons/apple-touch-icon-60x60.png
  public/img/icons/apple-touch-icon-76x76.png
  public/img/icons/msapplication-icon-144x144.png
  public/img/icons/msapplication-icon-144x144.png:Zone.Identifier
  public/img/icons/mstile-150x150.png
  public/img/icons/mstile-150x150.png:Zone.Identifier
  public/img/icons/safari-pinned-tab.svg
  public/img/icons/safari-pinned-tab.svg:Zone.Identifier
  public/index.html
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/share.png
  public/site.webmanifest
Due: none

feat(pwa): change theme color
  public/index.html
  public/site.webmanifest
  yarn.lock
Due: none

fix(package-lock): remove
  package-lock.json
Due: none

Delete package-lock.json
  package-lock.json
Due: none

feat(enigme-2): load popup at enigme2 start
  src/components/Game/Enigme2/Enigme2.vue
  src/components/Game/Enigme2/Enigme2MainScreen.vue
  src/store/modules/three/index.js
Due: yarn lint:fix

fix(App): add position fixed to fix scroll on PWA
  src/App.vue
Due: yarn lint:fix

feat(enigme-2): add 3D popup consigne animation
  src/components/Game/Enigme2/Enigme2.vue
  src/components/Game/Enigme2/Enigme2MainScreen.vue
  src/components/Game/Enigme2/tuto/Enigme2MainScreenTuto.vue
  src/store/modules/three/helpers.js
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(ConnectionMainScreen): on high mode wrong QRCode
  src/components/Connection/ConnectionMainScreen.vue
Due: yarn lint:fix

feat(wording): add baseline
  src/components/Connection/ConnectionMainScreen.vue
Due: yarn lint:fix

feat(wording): change consigne 2 font size and text
  src/components/Game/Enigme2/Enigme2.vue
  src/store/modules/three/index.js
Due: yarn lint:fix

fix(Enigme3Player2): fix color blue text on iphone
  src/components/Game/Enigme3/Enigme3Player2.vue
Due: yarn lint:fix

fix(solutionPopup): fix color on enigme
  src/components/block/enigme3/solutionPopup.vue
Due: yarn lint:fix

feat(consigne): set style + new texts
  src/components/block/PlayerTuto.vue
  src/data/enigme2.js
  src/data/enigme3.js
  src/scss/globals/_general-styles.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(Enigme3MainScreenTuto): change line-height
  src/components/Game/Enigme3/tuto/Enigme3MainScreenTuto.vue
Due: yarn lint:fix

fix(engime-2): get correct consigne popup if others popups are loaded before
  src/components/Game/Enigme2/Enigme2.vue
  src/store/modules/three/helpers.js
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(timer): add more time
  src/components/Game/Enigme1/phoneBlocks/timer.vue
Due: yarn lint:fix

fix(enigme-3): remove random questions order for presentation
  src/components/Game/Enigme3/Enigme3Player1.vue
Due: yarn lint:fix

fix(subtitles): fix wording
  public/video/Subtitles.vtt
Due: none

fix(enigme): fix enigme-2 popup restart + reset enigme 3 random order
  src/components/Game/Enigme2/Enigme2.vue
  src/components/Game/Enigme3/Enigme3Player1.vue
Due: yarn lint:fix

Update main.js
  src/main.js
Due: yarn lint:fix

Update README.md
  README.md
Due: none

Path conditions:
  sort-package-json: any of: package.json
  yarn lint:fix: any of: *.{js,vue}
  yarn lint:css:fix: any of: *.{css,scss}
