Repository valentinsld/escape-lab-front: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, yarn lint:fix, yarn lint:css:fix

.lintstagedrc.json:

{
  "package.json": "sort-package-json",
  "*.{js,vue}": "yarn lint:fix",
  "*.{css,scss}": "yarn lint:css:fix"
}

feat(Enigme2Player): fix clearInterval on destroy
  src/components/Game/Enigme2/Enigme2Player.vue
Due: yarn lint:fix

feat(Enigme3Player2): add animation on first rule
  src/components/Game/Enigme3/Enigme3Player2.vue
Due: yarn lint:fix

fix(notice-tuto): fix first translate interaction
  src/components/Game/Enigme3/Enigme3Player2.vue
  src/main.js
Due: yarn lint:fix

fix(enigme3-rules): change wording of tuto
  src/data/enigme3.js
Due: yarn lint:fix

chore(package): add videojs-hls-quality-selector
  package.json
  yarn.lock
Due: sort-package-json

feat(enigme2): add popup model testing
  public/assets/models/popup.gltf
  src/store/modules/three/index.js
Due: yarn lint:fix

refactor(popup): remove old testing meshes + update lights
  src/store/modules/three/helpers.js
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(three): add troika three text + remove connexion for now
  package.json
  public/fonts/LICENSE
  public/fonts/helvetiker_regular.typeface.json
  src/App.vue
  src/store/modules/three/index.js
  yarn.lock
Due: sort-package-json, yarn lint:fix

feat(three-popup): add function to add popup
  src/App.vue
  src/components/Game/Enigme2/Enigme2.vue
  src/components/Game/Enigme2/Enigme2MainScreen.vue
  src/components/Game/Enigme2/Enigme2MainScreenPopups.vue
  src/store/modules/three/helpers.js
  src/store/modules/three/index.js
Due: yarn lint:fix

chore(package): add package for video js
  package.json
  yarn.lock
Due: sort-package-json

feat(VideoMainScreen): wip -> multiple quality video
  src/components/Game/VideoMainScreen.vue
Due: yarn lint:fix

feat(VideoMainScreen): add more options to quality video
  src/components/Game/VideoMainScreen.vue
Due: yarn lint:fix

feat(three-popup): add instance mesh to generate popups
  src/App.vue
  src/components/Game/Enigme2/Enigme2MainScreenPopups.vue
  src/store/modules/three/helpers.js
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(three-popup): remove instance
  src/App.vue
  src/components/Game/Enigme2/Enigme2MainScreenPopups.vue
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(video): fix fullscreen + fix cut subtitles
  src/components/Game/VideoMainScreen.vue
  src/scss/globals/video-subtitles.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(three-popup): pass text to display in popup
  src/components/Game/Enigme2/Enigme2MainScreenPopups.vue
  src/store/modules/three/index.js
Due: yarn lint:fix

fix(video): fix loading on loop
  src/components/Game/VideoMainScreen.vue
  src/scss/globals/video-subtitles.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(three-popup): add trigger
  src/store/modules/three/index.js
Due: yarn lint:fix

refactor(global): update css with colors variables & add disabled color var
  src/components/Game/Enigme1/PlayerTuto.vue
Due: yarn lint:fix

feat(global): add sass function to automate text color based on the bg color
  src/scss/_imports.scss
  src/scss/setup/_functions.scss
  src/scss/setup/_mixins.scss
Due: yarn lint:css:fix

refactor(global): update css variables with hsl values && create scss variables
  src/scss/setup/_css-variables.scss
  src/scss/setup/_variables.scss
Due: yarn lint:css:fix

feat(global): add button active & hover state && update messages color
  src/components/block/Messages.vue
  src/scss/globals/button.scss
  src/scss/setup/_css-variables.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(global): add active & hover state for button component & styles updates
  src/scss/globals/button.scss
Due: yarn lint:css:fix

refactor(global): update css colors with variables
  src/components/Game/Enigme2/Enigme2Card.vue
  src/components/Game/Enigme2/Enigme2Player.vue
  src/components/Game/Enigme2/Enigme2PopupStack.vue
  src/components/Game/Enigme3/Enigme3MainScreen.vue
  src/components/Game/Enigme3/Enigme3Player1.vue
  src/components/Game/Enigme3/Enigme3Player2.vue
  src/components/Game/Intro/IntroPlayer.vue
Due: yarn lint:fix

refactor(global): update buttons across app && update variables && dynamize borders & colors
  src/components/Game/Enigme1/PlayerTuto.vue
  src/components/Game/Enigme1/phoneBlocks/phoneCall.scss
  src/components/Game/Enigme1/phoneBlocks/phoneCallIncoming.scss
  src/components/Game/Enigme1/phoneBlocks/phoneLocked.scss
  src/components/Game/Enigme1/phoneBlocks/phoneMessages.scss
  src/components/Game/Enigme2/Enigme2Card.vue
  src/components/Game/Enigme2/Enigme2Player.vue
  src/components/Game/Enigme2/tuto/Enigme2MainScreenTuto.vue
  src/components/Game/Enigme3/Enigme3MainScreen.vue
  src/components/Game/Enigme3/Enigme3Player1.vue
  src/components/Game/Enigme3/tuto/Enigme3MainScreenTuto.vue
  src/components/block/Messages.vue
  src/components/block/Notification.vue
  src/scss/_imports.scss
  src/scss/globals/button.scss
  src/scss/globals/screenContainer.scss
  src/scss/globals/video-subtitles.scss
  src/scss/setup/_css-variables.scss
  src/scss/setup/_functions.scss
  src/scss/setup/_mixins.scss
  src/scss/setup/_variables.scss
Due: yarn lint:fix, yarn lint:css:fix

refactor(global): update tutorial button style to match button design
  src/components/Game/Enigme1/PlayerTuto.vue
  src/scss/globals/button.scss
Due: yarn lint:fix, yarn lint:css:fix

refactor(global): update variables && fix merging issues & fix typo
  src/components/Connection/UserDisconnected.vue
  src/components/Game/Enigme2/Enigme2Card.vue
  src/components/Game/Enigme2/Enigme2Player.vue
  src/components/Game/Enigme3/Enigme3Player1.vue
  src/scss/setup/_css-variables.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(Messages): fix color + fix after message
  src/components/block/Messages.vue
Due: yarn lint:fix

feat(Enigme2Player): change color background
  src/components/Game/Enigme3/Enigme3Player2.vue
Due: yarn lint:fix

style(css-variables): add spaces
  src/scss/setup/_css-variables.scss
Due: yarn lint:css:fix

feat(intro): style intro
  src/components/Connection/ConnectionMainScreen.scss
  src/components/Connection/ConnectionMainScreen.vue
  src/components/Game/Intro/IntroMainScreen.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(IntroMainScreen): hide component on video start
  src/components/Game/Intro/IntroMainScreen.vue
Due: yarn lint:fix

feat(three-popup): add popup triggered
  src/App.vue
  src/components/Game/Enigme1/Enigme1MainScreen.vue
  src/components/Game/Enigme2/Enigme2.vue
  src/components/Game/Enigme2/Enigme2MainScreenPopups.vue
  src/store/modules/three/helpers.js
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(three-popup): add good texts at right places
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(VideoMainScreen): new timings for video
  src/components/Game/VideoMainScreen.vue
Due: yarn lint:fix

feat(index.html): change name page
  public/index.html
Due: none

feat(three-popup): add good typo
  public/fonts/LICENSE
  public/fonts/grenadine-bold.otf
  public/fonts/grenadine-medium.otf
  public/fonts/grenadine-regular.otf
  public/fonts/helvetiker_regular.typeface.json
  src/store/modules/three/index.js
Due: yarn lint:fix
