Repository valentinsld/escape-lab-front: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, yarn lint:fix, yarn lint:css:fix

feat(phoneCall): add boucle wrongCode
  public/soundsEnigme1/1-wrongCode.mp3
  public/soundsEnigme1/1-wrongCode.webm
  src/components/block/enigme1/phoneCall.vue
Due: yarn lint:fix

feat(enigme1Player2): add second call
  src/components/Game/Enigme1/Enigme1Player2.vue
  src/components/block/enigme1/phoneCallIncoming.vue
  src/components/block/enigme1/timer.vue
Due: yarn lint:fix

feat(timer): add wrong Time timer
  src/components/Game/Enigme1/Enigme1Player1.vue
  src/components/block/enigme1/timer.vue
Due: yarn lint:fix

feat(enigme1): end if don't recall
  src/components/Game/Enigme1/Enigme1Player1.vue
  src/components/Game/Enigme1/Enigme1Player2.vue
  src/components/block/enigme1/phoneLocked.vue
  src/components/block/enigme1/timer.vue
Due: yarn lint:fix

feat(enigme2): add animated interactive card & base for further development
  src/components/Game/Enigme2/Enigme2Card.vue
  src/components/Game/Enigme2/Enigme2MainScreen.vue
  src/components/Game/Enigme2/Enigme2Player.vue
  src/components/Game/Enigme2/Enigme2Popup.vue
  src/components/Game/Enigme2/Enigme2PopupStack.vue
Due: yarn lint:fix

feat(special-characters-rule): add replace function
  package.json
  src/components/Game/Enigme3/Enigme3MainScreen.vue
  src/data/enigme3.js
  yarn.lock
Due: sort-package-json, yarn lint:fix

feat(enigme2): add sockets handling for popup across screens
  src/components/Game/Enigme2/Enigme2Card.vue
  src/components/Game/Enigme2/Enigme2MainScreen.vue
  src/components/Game/Enigme2/Enigme2Player.vue
  src/components/Game/Enigme2/Enigme2PopupStack.vue
Due: yarn lint:fix

feat(special-characters): fully functional version by adding isTrueRules
  src/components/Game/Enigme3/Enigme3.vue
  src/components/Game/Enigme3/Enigme3MainScreen.vue
  src/data/enigme3.js
Due: yarn lint:fix

feat(notice): add final good rule
  src/assets/images/enigme3/notice/page-1.png
  src/assets/images/enigme3/notice/page-2.png
  src/assets/images/enigme3/notice/page-3.png
  src/assets/images/enigme3/notice/page-4.png
  src/assets/images/enigme3/notice/page-5.png
  src/assets/images/enigme3/notice/page-6.png
  src/assets/images/enigme3/notice/page-7.png
  src/assets/images/enigme3/notice/page-8.png
  src/assets/images/enigme3/notice/page-9.png
  src/components/Game/Enigme3/Enigme3.vue
  src/components/Game/Enigme3/Enigme3Player2.vue
Due: yarn lint:fix

feat(chat): add different btnLabel from question
  src/components/Game/Enigme3/Enigme3Player1.vue
  src/data/enigme3.js
Due: yarn lint:fix

feat(enigme-3): add productName in questions + dynamic message text props
  src/components/block/Messages.vue
  src/data/enigme3.js
  src/helpers/enigme3Rules.js
Due: yarn lint:fix

feat(notice): add interactjs initialisation
  src/components/Connection/ConnectionPlayer.vue
  src/components/Game/Enigme3/Enigme3Player2.vue
Due: yarn lint:fix

feat(notice ): add swipe trigger
  src/components/Game/Enigme3/Enigme3Player2.vue
Due: yarn lint:fix

feat(notice-swipe): remove interact js swipe event and set draggable event on move to detect swipe
  src/components/Game/Enigme3/Enigme3Player2.vue
Due: yarn lint:fix

refactor(connexion): remove notice to test
  src/components/Connection/ConnectionPlayer.vue
Due: yarn lint:fix

fix(notice): remove btns + update swipe trigger value
  src/components/Game/Enigme3/Enigme3Player2.vue
Due: yarn lint:fix

feat(enigme3): add fully fujnctional sailer rule
  src/components/Game/Enigme3/Enigme3.vue
  src/components/Game/Enigme3/Enigme3MainScreen.vue
  src/data/enigme3.js
Due: yarn lint:fix

feat(chat): add first helper message
  src/components/Game/Enigme3/Enigme3.vue
  src/components/Game/Enigme3/Enigme3Player1.vue
Due: yarn lint:fix

feat(enigme-3): add tuto screens
  src/components/Game/Enigme3/Enigme3.vue
  src/components/Game/Enigme3/Enigme3Player1.vue
  src/components/Game/Enigme3/tuto/Enigme3MainScreenTuto.vue
  src/components/Game/Enigme3/tuto/Enigme3Player1Tuto.vue
  src/components/Game/Enigme3/tuto/Enigme3Player2Tuto.vue
Due: yarn lint:fix

feat(assets): add logo
  src/assets/logo.png
  src/assets/logo.svg
Due: none

style(typography): add grenadine font
  src/scss/setup/_typography.scss
Due: yarn lint:css:fix

style(variables): add colors + weight
  src/scss/setup/_variables.scss
Due: yarn lint:css:fix

style(variable): change value for weight bold
  src/scss/setup/_variables.scss
Due: yarn lint:css:fix

style(src): remove spaces from scss by stylelinter
  src/scss/setup/_reset.scss
Due: yarn lint:css:fix

perf(Sample): remove it
  src/components/Sample.vue
Due: yarn lint:fix

feat(button): init style button component
  src/components/block/button.vue
  src/scss/_imports.scss
  src/scss/globals/button.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(ConnectionMainScreen): use Button component
  src/components/Connection/ConnectionMainScreen.vue
Due: yarn lint:fix

refactor(variables): move varibles to css-variables
  src/scss/setup/_css-variables.scss
  src/scss/setup/_variables.scss
Due: yarn lint:css:fix

feat(mixins-responsive): add mixins for responsive
  src/scss/setup/_mixins-responsive.scss
Due: yarn lint:css:fix

feat(screenContainer): init style screenContainer
  src/scss/_imports.scss
  src/scss/globals/screenContainer.scss
  src/views/ViewContainer.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(screenContainer): more responsive
  src/scss/globals/screenContainer.scss
Due: yarn lint:css:fix

feat(ViewConnextion): remove text
  src/views/ViewConnection.vue
Due: yarn lint:fix

feat(ConnectionMainScreen): add screenContainer
  src/components/Connection/ConnectionMainScreen.vue
Due: yarn lint:fix

fix(ViewContainer): fix height on resize
  src/views/ViewContainer.vue
Due: yarn lint:fix

feat(App): change color text + font-family
  src/App.vue
Due: yarn lint:fix

feat(_general-style): not necessary
  src/scss/globals/_general-styles.scss
Due: yarn lint:css:fix

feat(_css-variables): add custom-bezier
  src/scss/setup/_css-variables.scss
Due: yarn lint:css:fix

feat(ConnectionMainScreen): add UI
  src/components/Connection/ConnectionMainScreen.scss
  src/components/Connection/ConnectionMainScreen.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(_imports): import mixins responsive
  src/scss/_imports.scss
Due: yarn lint:css:fix

feat(ViewContainer): add style for players
  src/scss/globals/screenContainer.scss
  src/views/ViewContainer.vue
Due: yarn lint:fix, yarn lint:css:fix

Path conditions:
  sort-package-json: any of: package.json
  yarn lint:fix: any of: *.{js,vue}
  yarn lint:css:fix: any of: *.{css,scss}
