Repository valentinsld/escape-lab-front: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, yarn lint:fix, yarn lint:css:fix

feat(button): size font & paddings for isPlayer
  src/scss/globals/button.scss
Due: yarn lint:css:fix

feat(screnContainer): reduced paddings for isPlayer
  src/scss/globals/screenContainer.scss
Due: yarn lint:css:fix

feat(assets): add fakeVideo for home
  src/assets/FakeVideo.svg
Due: none

feat(ConnectionMainScreen): idRoom -> uppercase + letter spacings
  src/components/Connection/ConnectionMainScreen.scss
Due: yarn lint:css:fix

feat(ConnectionPlayer): add UI
  src/assets/connection-check.svg
  src/components/Connection/ConnectionPlayer.scss
  src/components/Connection/ConnectionPlayer.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(ViewGame): remove text indication screen
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(video-subtitles): init style subtitle of video
  src/scss/_imports.scss
  src/scss/globals/video-subtitles.scss
Due: yarn lint:css:fix

feat(engiem1): remove texts indication + add screenContainer
  src/components/Game/Enigme1/Enigme1.vue
  src/components/Game/Enigme1/Enigme1MainScreen.vue
  src/components/Game/Enigme1/Enigme1Player1.vue
  src/components/Game/Enigme1/Enigme1Player2.vue
Due: yarn lint:fix

feat(convertSecondToTIme): improve code
  src/helpers/convertSecondToTIme.js
Due: yarn lint:fix

feat(timer): init style timer
  src/components/block/enigme1/timer.scss
  src/components/block/enigme1/timer.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(screenContainer): refactor name variables paddings et margins
  src/scss/globals/screenContainer.scss
Due: yarn lint:css:fix

feat(css-variable): switch color enigme1 <-> enigme3
  src/scss/setup/_css-variables.scss
Due: yarn lint:css:fix

feat(phoneMessages): style message list
  src/components/block/enigme1/phoneMessages.scss
  src/components/block/enigme1/phoneMessages.vue
  src/data/enigme1Messages.js
Due: yarn lint:fix, yarn lint:css:fix

feat(screenContainer): add maxHeight for player
  src/scss/globals/screenContainer.scss
Due: yarn lint:css:fix

feat(assets): add icon phone + sound
  src/assets/icon-phone.svg
  src/assets/icon-sound.svg
Due: none

feat(phoneCall): ui phoneCall
  src/components/block/enigme1/phoneCall.scss
  src/components/block/enigme1/phoneCall.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(phoneCallIncoming): add UI
  src/components/block/enigme1/phoneCallIncoming.scss
  src/components/block/enigme1/phoneCallIncoming.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(phoneLocked): add UI
  src/components/Game/Enigme1/Enigme1Player2.vue
  src/components/block/enigme1/phoneLocked.scss
  src/components/block/enigme1/phoneLocked.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(phoneMessages): ui header
  src/components/block/enigme1/phoneMessages.scss
  src/components/block/enigme1/phoneMessages.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(Messages): first UI
  src/components/block/Messages.vue
  src/components/block/enigme1/phoneMessages.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(enigme1Messages): fix receveid for crush messages
  src/data/enigme1Messages.js
Due: yarn lint:fix

feat(IntroPlayer): add UI
  src/components/Game/Intro/Intro.vue
  src/components/Game/Intro/IntroPlayer.vue
Due: yarn lint:fix

feat(Notification): style notification
  src/components/block/Notification.vue
Due: yarn lint:fix

fix(Notification): show
  src/components/block/Notification.vue
Due: yarn lint:fix

feat(main): used new url socket
  src/main.js
Due: yarn lint:fix

feat(enigme-3-tuto): add all tuto screens with content
  src/components/Game/Enigme3/Enigme3.vue
  src/components/Game/Enigme3/Enigme3MainScreen.vue
  src/components/Game/Enigme3/tuto/Enigme3MainScreenTuto.vue
  src/components/Game/Enigme3/tuto/Enigme3Player1Tuto.vue
  src/components/Game/Enigme3/tuto/Enigme3Player2Tuto.vue
  src/data/enigme3.js
Due: yarn lint:fix

fix(App): fix height on safari mobile
  src/App.vue
  src/scss/globals/screenContainer.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(App): remove pintch zoom + scroll to reload on ios
  public/index.html
  src/App.vue
  src/components/Connection/ConnectionPlayer.vue
Due: yarn lint:fix

feat(App): remove double tap on button
  src/App.vue
Due: yarn lint:fix

feat(App): remove double tap on elements
  src/App.vue
Due: yarn lint:fix

feat(enigme2): fix logic on game card interactions
  src/components/Game/Enigme2/Enigme2Card.vue
Due: yarn lint:fix

feat(button): add color on text
  src/scss/globals/button.scss
Due: yarn lint:css:fix

feat(phoneCall): color text
  src/components/block/enigme1/phoneCall.scss
Due: yarn lint:css:fix

feat(Messages): ajouter canapé dans les messages
  src/assets/CANAPDELUXE.png
  src/components/block/Messages.vue
Due: yarn lint:fix

feat(enigme2): add ui
  src/components/Game/Enigme1/Enigme1.vue
  src/components/Game/Enigme2/Enigme2Card.vue
  src/components/Game/Enigme2/Enigme2MainScreen.vue
  src/components/Game/Enigme2/Enigme2Player.vue
  src/components/Game/Enigme2/Enigme2PopupStack.vue
Due: yarn lint:fix

feat(Enigme2): fix linter
  src/components/Game/Enigme2/Enigme2MainScreen.vue
  src/components/Game/Enigme2/Enigme2Player.vue
Due: yarn lint:fix

feat(enigme-3-tuto): wip player start
  src/components/Game/Enigme3/tuto/Enigme3Player1Tuto.vue
  src/store/helpers.js
  src/store/index.js
Due: yarn lint:fix

feat(App): remove console logs
  src/App.vue
  src/components/Game/Enigme1/Enigme1Player2.vue
  src/components/Game/Enigme2/Enigme2Player.vue
  src/components/Game/VideoMainScreen.vue
Due: yarn lint:fix

feat(enigme2): add ui
  src/components/Game/Enigme2/Enigme2.vue
Due: yarn lint:fix

Path conditions:
  sort-package-json: any of: package.json
  yarn lint:fix: any of: *.{js,vue}
  yarn lint:css:fix: any of: *.{css,scss}
