Repository valentinsld/escape-lab-front: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, yarn lint:fix, yarn lint:css:fix

.lintstagedrc.json:

{
  "package.json": "sort-package-json",
  "*.{js,vue}": "yarn lint:fix",
  "*.{css,scss}": "yarn lint:css:fix"
}

feat(ConnectionPlayer): remove fakeVideo + review spacings
  src/components/Connection/ConnectionPlayer.scss
  src/components/Connection/ConnectionPlayer.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(ConnectionMainScreen): review spacings
  src/components/Connection/ConnectionMainScreen.scss
  src/components/Connection/ConnectionMainScreen.vue
  src/scss/globals/screenContainer.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(three-popup): add new popup
  public/assets/models/popup.gltf
  src/App.vue
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(button): add option disabled
  src/components/block/button.vue
  src/scss/globals/button.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(COnnectionPlayer): add info sound
  src/assets/icon-sound-orange.svg
  src/components/Connection/ConnectionPlayer.scss
  src/components/Connection/ConnectionPlayer.vue
Due: yarn lint:fix, yarn lint:css:fix

fix(ConnectionPlayer): remettre le IS_DEV
  src/components/Connection/ConnectionPlayer.vue
Due: yarn lint:fix

feat(Enigme2): set absolute text info spam or not
  src/components/Game/Enigme2/Enigme2Player.vue
  src/components/Game/Enigme2/Enigme2PopupStack.vue
  src/components/Game/Enigme2/restart/Enigme2PlayerRestart.vue
Due: yarn lint:fix

feat(COnnection&Intro): larged container
  src/components/Connection/ConnectionMainScreen.scss
  src/components/Game/Intro/IntroMainScreen.vue
Due: yarn lint:fix, yarn lint:css:fix

feat(Messages): change color fof text
  src/components/block/Messages.vue
Due: yarn lint:fix

feat(phoneMessages): add back icon
  src/assets/back.svg
  src/components/Game/Enigme1/phoneBlocks/phoneMessages.vue
Due: yarn lint:fix

feat(phoneMessages): fix visual chat cuted
  src/components/Game/Enigme1/phoneBlocks/phoneMessages.scss
Due: yarn lint:css:fix

feat(Notification): more time
  src/components/block/Notification.vue
Due: yarn lint:fix

feat(PlayerTuto): add option to change background color
  src/components/Game/Enigme1/PlayerTuto.vue
  src/components/Game/Enigme2/tuto/Enigme2Player1Tuto.vue
  src/components/Game/Enigme2/tuto/Enigme2Player2Tuto.vue
  src/components/Game/Enigme3/Enigme3.vue
Due: yarn lint:fix

feat(three-popup): first fonctionnal version
  src/App.vue
  src/components/Game/VideoMainScreen.vue
  src/store/modules/three/helpers.js
  src/store/modules/three/index.js
Due: yarn lint:fix

style(Enigme2PopupStack): remove console log
  src/components/Game/Enigme2/Enigme2PopupStack.vue
Due: yarn lint:fix

feat(button): fix disable is disabled
  src/components/block/button.vue
Due: yarn lint:fix

feat(Enigme2): scroll to wrong card + more time after enSort
  src/components/Game/Enigme2/Enigme2Player.vue
  src/components/Game/Enigme2/Enigme2PopupStack.vue
Due: yarn lint:fix

feat(notices): update files price & first
  src/assets/images/enigme3/notice/first.png
  src/assets/images/enigme3/notice/price.png
Due: none

feat(solutionPopup): center text + more space after
  src/components/block/enigme3/solutionPopup.vue
Due: yarn lint:fix

feat(three-popup): functional version in game
  src/App.vue
  src/components/Game/Enigme2/Enigme2MainScreenPopups.vue
  src/components/Game/VideoMainScreen.vue
  src/store/modules/three/helpers.js
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(three-popup): remove initial cards + add max width
  src/components/Game/Enigme2/Enigme2MainScreenPopups.vue
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(videos): remove less 480p
  public/video/videos.m3u8
Due: none

feat(canvas): add canvas three in video-main-screen
  src/components/Game/Canvas.vue
  src/components/Game/VideoMainScreen.vue
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(ViewGame): user can't go back
  src/App.vue
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(three-popup): add mutation to reset popups
  src/components/Game/Enigme2/Enigme2MainScreenPopups.vue
  src/store/modules/three/helpers.js
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(variables scss): change colors & use $variables
  src/scss/setup/_css-variables.scss
  src/scss/setup/_variables.scss
Due: yarn lint:css:fix

feat(Game): change colors
  src/components/Game/Enigme1/Enigme1Player1.vue
  src/components/Game/Enigme1/Enigme1Player2.vue
  src/components/Game/Enigme1/PlayerTuto.vue
  src/components/Game/Enigme2/Enigme2Player.vue
Due: yarn lint:fix

feat(favicon): en attendant
  public/favicon.ico
Due: none

feat(OutroMainScreen): style outro
  src/components/Game/Outro/OutroMainScreen.vue
  src/scss/globals/button.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(three-popup): add basic lightings
  public/assets/models/popup-old.gltf
  public/assets/models/popup-old2.gltf
  public/assets/models/popup.gltf
  src/App.vue
  src/components/Game/Enigme2/Enigme2MainScreenPopups.vue
  src/components/Game/VideoMainScreen.vue
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(three-popup): try different popup animation
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(three-popup): new easing test for popup
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(results): add results page draft view
  package-lock.json
  package.json
  src/assets/images/results/alert.png
  src/assets/images/results/bag.png
  src/assets/images/results/idCard.png
  src/assets/images/results/lightbulb.png
  src/assets/images/results/machine.png
  src/assets/images/results/person.png
  src/components/block/ResultCard.vue
  src/views/ViewResults.vue
  yarn.lock
Due: sort-package-json, yarn lint:fix

feat(three-popup): reset app elements to remove popup testing
  src/App.vue
  src/components/Game/VideoMainScreen.vue
  src/store/modules/three/index.js
Due: yarn lint:fix

feat(About): init style
  src/assets/cross.svg
  src/assets/gobelins.svg
  src/components/Game/Outro/OutroMainScreen.vue
  src/components/about/index.vue
  src/components/about/style.scss
Due: yarn lint:fix, yarn lint:css:fix

feat(ViewGame): disable Pane on prod
  src/views/ViewGame.vue
Due: yarn lint:fix

feat(App): add high Mode for video
  public/video/videosHighMode.m3u8
  src/App.vue
  src/components/Connection/ConnectionMainScreen.scss
  src/components/Game/VideoMainScreen.vue
  src/main.js
  src/store/helpers.js
  src/store/index.js
Due: yarn lint:fix, yarn lint:css:fix

feat(sound-design ): add timer sound
  public/sounds/tick-2.mp3
  public/sounds/tick-2.webm
  public/sounds/tick-3.mp3
  public/sounds/tick-3.webm
  public/sounds/tick.mp3
  public/sounds/tick.webm
  src/components/Game/Enigme1/phoneBlocks/timer.vue
Due: yarn lint:fix

feat(sound-design): add enigme-1 pad and notif sound
  public/sounds/pad-1.mp3
  public/sounds/pad-1.webm
  public/sounds/pad-2.mp3
  public/sounds/pad-2.webm
  src/components/Game/Enigme1/phoneBlocks/phoneCall.vue
  src/components/block/Notification.vue
Due: yarn lint:fix

fix(enigme-1-timer): clear interval on destroyer to prevent sound timer bug
  src/components/Game/Enigme1/phoneBlocks/timer.vue
Due: yarn lint:fix
